<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WMSupportLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <WMSupportLibrary.Properties.Settings>
            <setting name="connectionstring_rpa" serializeAs="String">
                <value>Data Source=10.0.0.233;Initial Catalog=RPA;Persist Security Info=True;User ID=sa;Password=developer*8</value>
            </setting>
        </WMSupportLibrary.Properties.Settings>
    </applicationSettings>
</configuration>